<div id="map_canvas" ng-controller="MapCtrl as egmap">

  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group" role="group">
      <button ng-click="egmap.moveToFirm()" class="btn btn-default">El Garabato</button>
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle"
                data-toggle="dropdown">
          Clientes
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#" ng-click="egmap.moveToFirm()">Dafisa</a></li>
          <li><a href="#" ng-click="egmap.moveToFirm()">Palacio Moratalla</a></li>
        </ul>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle"
                data-toggle="dropdown">
          Gasolineras
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#" ng-click="egmap.moveToFirm()">La Lagunilla</a></li>
          <li><a href="#" ng-click="egmap.moveToFirm()">Repsol</a></li>
        </ul>
      </div>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" ng-click="egmap.zoomIn()">
        <span class="glyphicon glyphicon glyphicon-zoom-in"></span>
      </button>
      <button type="button" class="btn btn-default" ng-click="egmap.zoomOut()">
        <span class="glyphicon glyphicon glyphicon-zoom-out"></span>
      </button>
    </div>
  </div>

  <br/>
  <!--{{map.zoom}}, {{map.getZoom()}},  {{map.getCenter()}}-->
  <div map-lazy-load="https://maps.google.com/maps/api/js">
    <ng-map center="{{egmap.firm.coords}}" zoom="{{egmap.zoom}}">
      <traffic-layer></traffic-layer>
      <marker position="{{egmap.firm.coords}}" title="{{egmap.firm.label}}"/>
      <custom-marker position="{{egmap.firm.coords}}">
        <div>
          <strong>{{egmap.firm.label}}</strong>
        </div>
      </custom-marker>
    </ng-map>
  </div>

  <!--custom-marker ng-repeat="truck in map.trucks track by $index"
        position="{{truck.pos}}">
    <div>
      position {{p.name}}: {{p.pos[0]}}, {{p.pos[1]}}
    </div>
  </custom-marker-->

</div>
