<div id="map_canvas" ng-controller="MapCtrl as egmap">

  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group" role="group">
      <button ng-click="egmap.moveToFirm()" class="btn btn-default">El Garabato</button>
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle"
                data-toggle="dropdown">
          Fincas
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li ng-repeat="farm in egmap.getFarms()">
            <a href="#" ng-click="egmap.showStaticPOI(farm)">{{farm.name}}</a>
          </li>
        </ul>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle"
                data-toggle="dropdown">
          Descargas
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li ng-repeat="destination in egmap.getDestinations()">
            <a href="#" ng-click="egmap.showStaticPOI(destination)">{{destination.name}}</a>
          </li>
        </ul>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle"
                data-toggle="dropdown">
          Gasolineras
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#" ng-click="egmap.moveToFirm()">La Lagunilla</a></li>
          <li><a href="#" ng-click="egmap.moveToFirm()">Repsol</a></li>
        </ul>
      </div>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" ng-click="egmap.zoomIn()">
        <span class="glyphicon glyphicon glyphicon-zoom-in"></span>
      </button>
      <button type="button" class="btn btn-default" ng-click="egmap.zoomOut()">
        <span class="glyphicon glyphicon glyphicon-zoom-out"></span>
      </button>
    </div>
  </div>

  <br/>
  <!--{{map.zoom}}, {{map.getZoom()}},  {{map.getCenter()}}-->
  <div map-lazy-load="https://maps.google.com/maps/api/js">
    <ng-map center="{{egmap.home}}" zoom="{{egmap.zoom}}">
      <!--traffic-layer></traffic-layer-->
      <!-- El garabato-->
      <marker position="[{{egmap.firm.coords[0]}}, {{egmap.firm.coords[1]}}]" title="{{egmap.firm.label}}"/>
      <custom-marker position="{{egmap.firm.coords}}">
        <div>
          <strong>{{egmap.firm.label}}</strong>
        </div>
      </custom-marker>

      <!-- Fincas -->
      <!-- Las marcas con la variable del ng-repeat vuelven el mapa inestable"-->
      <!--marker ng-repeat"f in egmap.getFarms()" position="[{{f.coords[0]}}, {{f.coords[1]}}]" title="El Pireo" />
      <custom-marker ng-repeat"f in egmap.getFarms()" position="[{{f.coords[0]}}, {{f.coords[1]}}]" >
        <div>
          <strong>Finca: {{f.name}}</strong>
        </div>
      </custom-marker-->
    </ng-map>
  </div>

</div>
