<div id="map_canvas" ng-controller="MapCtrl as egmap">

  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group" role="group">
      <button ng-click="egmap.moveToFirm()" class="btn btn-default">El Garabato</button>
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle"
                data-toggle="dropdown">
          Fincas
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li ng-repeat="farm in egmap.getFarms()">
            <a href="#" ng-click="egmap.showStaticPOI(farm)">{{farm.name}}</a>
          </li>
        </ul>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle"
                data-toggle="dropdown">
          Descargas
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li ng-repeat="destination in egmap.getDestinations()">
            <a href="#" ng-click="egmap.showStaticPOI(destination)">{{destination.name}}</a>
          </li>
        </ul>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle"
                data-toggle="dropdown">
          Gasolineras
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#" ng-click="egmap.moveToFirm()">La Lagunilla</a></li>
          <li><a href="#" ng-click="egmap.moveToFirm()">Repsol</a></li>
        </ul>
      </div>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" ng-click="egmap.zoomIn()">
        <span class="glyphicon glyphicon glyphicon-zoom-in"></span>
      </button>
      <button type="button" class="btn btn-default" ng-click="egmap.zoomOut()">
        <span class="glyphicon glyphicon glyphicon-zoom-out"></span>
      </button>
    </div>
  </div>

  <br/>

  <ui-gmap-google-map center="egmap.map.center" zoom="egmap.map.zoom">
    <ui-gmap-marker idKey='egmap.getFirmMarker().id'
        coords='egmap.getFirmMarker().coords'
        options='egmap.getFirmMarker().options'>
    </ui-gmap-marker>

    <!-- Farms -->
    <ui-gmap-markers
            models='egmap.getFarmsMarkers().models'
            idKey='id'
            coords="'coords'"
            options="'options'">
    </ui-gmap-markers>

    <!-- Destinations -->
    <ui-gmap-markers
            models='egmap.getDestinationsMarkers().models'
            idKey='id'
            coords="'coords'"
            options="'options'">
    </ui-gmap-markers>
  </ui-gmap-google-map>

</div>
